<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Order Summary</title>
</head>
<body>
<h1>Thank you for your order!</h1>
<h2>Order ID: <span th:text=${orderId}></span></h2>
</body>
<table>
    <thead>
    <tr>
        <th> OrderDetails </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderDetail : ${orderDetails}">
        <td>Product: <span th:text="${orderDetail.product.id}"></span></td>
        <td>Quantity: <span th:text="${orderDetail.quantity}"></span></td>
    </tr>
    </tbody>
</table>

</html>